<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>codeManager</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>兑换码管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>兑换码管理</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">

                <form id="listForm" name="listForm">
                    <div class="row">
                        <div class="col-sm-2 m-b-xs">
                            <label class="col-sm-2 control-label">兑换码：</label>
                            <div class="col-sm-10">
                                <input id="code" name="code" type="text" class="form-control" th:value="${code}"/>
                            </div>
                        </div>
                        <div class="col-sm-2 m-b-xs"><label class="col-sm-2 control-label">类型：</label>
                                <select name="type" id="type" class="control" th:selected="${type}">
                                    <option value="0" th:selected="${type==0}">--请选择--</option>
                                    <option value="1" th:selected="${type==1}">--类型1--</option>
                                    <option value="2" th:selected="${type==2}">--类型2--</option>
                                    <option value="3" th:selected="${type==3}">--类型3--</option>
                                </select>
                        </div>
                        <div class="col-sm-2 m-b-xs"><label class="col-sm-2 control-label">状态：</label>
                                <select name="status" id="status" class="control" th:selected="${status}">
                                    <option value="0" th:selected="${status==0}">--请选择--</option>
                                    <option value="1" th:selected="${status==1}">--未兑换--</option>
                                    <option value="2" th:selected="${status==2}">--已兑换--</option>
                                </select>
                        </div>
                        <div class="col-sm-2 m-b-xs">
                            <button id="submitButton" class="btn btn-primary btn-block" type="button"
                                    onclick="selectRecent()"><i
                                    class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong>
                            </button>
                        </div>
                    </div>
                </form>




                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="row">
                                <div class="col-sm-6 m-b-xs">
                                    <a th:href="@{../../code/codeEdit}" class="btn btn-white btn-sm" data-toggle="tooltip"
                                       data-placement="left" title="" data-original-title="Refresh inbox"><i
                                            class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;新增兑换码&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                </div>
                                <div class="col-sm-6 m-b-xs"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>公告列表</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class=" table table-hover" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th width="8%">兑换码Id</th>
                                        <th width="8%">兑换码</th>
                                        <th width="8%">兑换码类型（暂时没用）</th>
                                        <th width="10%">兑换码状态（1：未使用   2：已使用）</th>
                                        <th width="8%">兑换码使用者id</th>
                                        <th width="8%">兑换码奖励</th>
                                        <th width="8%">兑换码创建时间</th>
                                        <th width="8%">兑换码过期时间</th>
                                        <th width="8%">兑换码使用时间</th>
                                        <th width="8%">兑换码参数</th>
                                        <th width="10%">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="nc : ${data}">
                                        <td th:text="${nc.id}">Onions</td>

                                        <td th:text="${nc.code}">Onions</td>
                                        <td th:text="${nc.type}">Onions</td>
                                        <td th:text="${nc.status}">Onions</td>
                                        <td th:text="${nc.userId}">Onions</td>
                                        <td th:text="${nc.reward}">Onions</td>
                                        <td th:text="${#dates.format(nc.createTime, 'yyyy-MM-dd HH:mm:ss')}">Onions</td>
                                        <td th:text="${#dates.format(nc.outTime, 'yyyy-MM-dd HH:mm:ss')}">Onions</td>
                                        <td th:text="${#dates.format(nc.useTime, 'yyyy-MM-dd HH:mm:ss')}">Onions</td>
                                        <td th:text="${nc.paramData}">Onions</td>

                                        <td>
                                            <a th:href="@{'codeEdit?id='+${nc.getId()}}"
                                               title="修改"><i class="fa fa-edit text-navy"></i></a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" th:onclick="deleteCode([[${nc.getId()}]]);"
                                               title="删除"><i class="fa fa-trash-o text-navy"></i></a>

                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <ul id="pageHTML" class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var pageHTML = [[${pageHTML}]];
    $(document).ready(function () {
        $("#pageHTML").html(pageHTML);

    });

    /*]]>*/

    function deleteCode(lineId) {
        /*if(username=="admin"){
            toastr.error('admin无法删除', '提示')
            return 0;
        }*/

        if (confirm("确定删除吗?")) {
            $.ajax({
                type: "POST",
                url: "deleteCode?id=" + lineId,
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    window.location.reload();
                },
                error: function () {
                    alert("系统异常！");
                }
            });
        }
    }


    function selectRecent() {
        document.getElementById('listForm').action = "getCodeList";
        $("#listForm").submit();
    }
</script>


<script th:inline="javascript">

    setTimeout(function refresh() {
        document.getElementById("systemMenu").click();
        $("#statisticsService").attr('class', 'active');
        $("#ul_statisticsService").attr('class', 'nav nav-second-level collapse in');
        $("#codeManager").attr('style', 'color:#F8F8FF;');
    }, "100");
    /*]]>*/
</script>
</body>

</html>
