<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>UserManager</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>


    <link href="/js/plugins/bootstrap-fileinput/css/fileinput.css" rel="stylesheet"/>

    <script src="/js/plugins/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/js/plugins/bootstrap-fileinput/js/locales/zh.js"></script>

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>线路管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>线路管理</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="row">
                                <div class="col-sm-6 m-b-xs">
                                    <a th:href="@{../../lineInfo/lineEdit}" class="btn btn-white btn-sm" data-toggle="tooltip"
                                       data-placement="left" title="" data-original-title="Refresh inbox"><i
                                            class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;新增线路&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                </div>

                                <div class="col-sm-6 m-b-xs">
                                    <a th:href="@{../../lineInfo/importLInes}" class="btn btn-white btn-sm" data-toggle="tooltip"
                                       data-placement="left" title="" data-original-title="Refresh inbox"><i
                                            class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;批量导入&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                </div>
                                <div class="col-sm-6 m-b-xs">
                                    <a th:href="@{../../lineInfo/updateLines}" class="btn btn-white btn-sm" data-toggle="tooltip"
                                       data-placement="center" title="" data-original-title="Refresh inbox"><i
                                            class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;更新订阅地址&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                </div>
                                <div class="col-sm-6 m-b-xs">
                                    <a th:href="@{../../lineInfo/updateLinesNetWorm}" class="btn btn-white btn-sm" data-toggle="tooltip"
                                       data-placement="center" title="" data-original-title="Refresh inbox"><i
                                            class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;更新订阅地址NETWORM&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                </div>
                                <div class="col-sm-6 m-b-xs">
                                        <form method="post" action="/lineInfo/upload" enctype="multipart/form-data">
                                            <input type="file" name="file"><br>
                                            <input type="submit" value="提交">
                                        </form>
                                </div>


                                <div class="col-sm-6 m-b-xs"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>线路列表</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class=" table table-hover" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th width="8%">线路Id</th>
                                        <th width="8%">线路名称</th>
                                        <th width="8%">线路类型（0：ss    1：v2ray）</th>
                                        <th width="10%">线路地址</th>
                                        <th width="15%">线路端口号</th>
                                        <th width="10%">加密方式</th>
                                        <th width="10%">线路等级（0：普通  1：VIP）</th>
                                        <th width="10%">线路状态</th>
                                        <th width="10%">线路权重</th>
                                        <th width="10%">线路备注</th>
                                        <th width="10%">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="nc : ${lines}">
                                        <td th:text="${nc.id}">Onions</td>
                                        <td th:text="${nc.getName()}">Onions</td>
                                        <td th:text="${nc.getType()}">Onions</td>
                                        <td th:text="${nc.getHost()}">Onions</td>
                                        <td th:text="${nc.getPort()}">Onions</td>
                                        <td th:text="${nc.getEncrypt()}">Onions</td>
                                        <td th:text="${nc.getLv()}">Onions</td>
                                        <td th:text="${nc.getStatus()}">Onions</td>
                                        <td th:text="${nc.getWeight()}">Onions</td>
                                        <td th:text="${nc.getRemark()}">Onions</td>

                                        <td>
                                            <a th:href="@{'lineEdit?id='+${nc.getId()}}"
                                               title="修改"><i class="fa fa-edit text-navy"></i></a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" th:onclick="deleteLine([[${nc.getId()}]]);"
                                               title="删除"><i class="fa fa-trash-o text-navy"></i></a>

                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <ul id="pageHTML" class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var pageHTML = [[${pageHTML}]];
    $(document).ready(function () {
        $("#pageHTML").html(pageHTML);

    });

    /*]]>*/

    function deleteLine(lineId) {
        /*if(username=="admin"){
            toastr.error('admin无法删除', '提示')
            return 0;
        }*/

        if (confirm("确定删除吗?")) {
            $.ajax({
                type: "POST",
                url: "deleteLine?id=" + lineId,
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    window.location.reload();
                },
                error: function () {
                    alert("系统异常！");
                }
            });
        }
    }





    function InitExcelFile() {

        $("#excelFile").fileinput({
            uploadUrl: "/lineInfo/upload",//上传的地址
            uploadAsync: true,              //异步上传
            language: "zh",                 //设置语言
            showCaption: true,              //是否显示标题
            showUpload: true,               //是否显示上传按钮
            showRemove: true,               //是否显示移除按钮
            showPreview : true,             //是否显示预览按钮
            browseClass: "btn btn-primary", //按钮样式
            uploadLabel: "上传",           //设置上传按钮的汉字
            enctype: 'multipart/form-data',
            dropZoneEnabled: true,         //是否显示拖拽区域
            allowedFileExtensions: ["json", "xlsx"], //接收的文件后缀
            maxFileCount: 1,                        //最大上传文件数限制
            previewFileIcon: '<i class="glyphicon glyphicon-file"></i>',
            allowedPreviewTypes: null,
            previewFileIconSettings: {
                'json': '<i class="glyphicon glyphicon-file"></i>',
                'xlsx': '<i class="glyphicon glyphicon-file"></i>'
            },
        }).on("fileuploaded", function(event, data) {

        }).on('fileerror', function(event, data, msg) {  //一个文件上传失败
            alert('文件上传失败！'+msg);
        });
    }



</script>


<script th:inline="javascript">

    setTimeout(function refresh() {
        document.getElementById("systemMenu").click();
        $("#statisticsService").attr('class', 'active');
        $("#ul_statisticsService").attr('class', 'nav nav-second-level collapse in');
        $("#lines").attr('style', 'color:#F8F8FF;');
    }, "100");
    /*]]>*/
</script>
</body>

</html>
