<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>线路编辑</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />

<!-- Toastr style -->
<link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

<link th:href="@{/css/style.css}" rel="stylesheet" />


</head>

<body>

    <div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
        	<div class="border-bottom" th:include="header :: headerTop"></div>
      		<div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
		   		<div class="col-lg-10">
		     		<h2>线路</h2>
		          	<ol class="breadcrumb">
			            <li>
			            	<a href="#">首页</a>
			            </li>
			            <li>
			            	<a>线路管理</a>
			         	</li>
					</ol>
		      	</div>
		      	<div class="col-lg-2">
		      	</div>
		  	</div>
        	<div class="wrapper wrapper-content animated fadeInRight">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>线路编辑</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="formTag" action="lineEdit" method="POST" class="form-horizontal" enctype="multipart/form-data">
                                <div class="form-group"><label class="col-sm-2 control-label">线路Id：</label>
                                    <div class="col-sm-10">
                                        <input id="id" name="id" type="text" class="form-control" readonly th:value="${line.id}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">线路名称：</label>
                                    <div class="col-sm-10">
                                        <input id="name" name="name" type="text" class="form-control"  th:value="${line.name}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">线路类型：</label>
                                    <div class="col-sm-10">
                                        <select name="type" id="type" class="form-control" th:selected="${line.type}">
                                            <option value="0" th:selected="${line.type==0}">--ss--</option>
                                            <option value="1" th:selected="${line.type==1}">--v2ray--</option>
                                            <option value="5" th:selected="${line.type==5}">--Bless--</option>
                                            <option value="6" th:selected="${line.type==6}">--Trajon--</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">线路地址：</label>
                                    <div class="col-sm-10">
                                        <input id="host" name="host" type="text" class="form-control"  th:value="${line.host}"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">线路端口：</label>
                                    <div class="col-sm-10">
                                        <input id="port" name="port" type="text" class="form-control"  th:value="${line.port}"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">线路密码：</label>
                                    <div class="col-sm-10">
                                        <input id="password" name="password" type="text" class="form-control"  th:value="${line.password}"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">加密方式：</label>
                                    <div class="col-sm-10">
                                        <select name="encrypt" id="encrypt" class="form-control" th:selected="${line.encrypt}">
                                            <option value="chacha20" th:selected="${line.encrypt=='chacha20'}">--chacha20--</option>
                                            <option value="aes-128-cfb" th:selected="${line.encrypt=='aes-128-cfb'}">--aes-128-cfb--</option>
                                            <option value="aes-256-cfb" th:selected="${line.encrypt=='aes-256-cfb'}">--aes-256-cfb--</option>
                                            <option value="auto" th:selected="${line.encrypt=='auto'}">--auto--</option>
                                            <option value="rc4-md5" th:selected="${line.encrypt=='rc4-md5'}">--rc4-md5--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">线路等级：</label>
                                    <div class="col-sm-10">
                                        <select name="lv" id="lv" class="form-control" th:selected="${#numbers.formatDecimal(line.lv,1,0)}">
                                            <option th:selected="${line.lv eq nc.id+''}" th:each="nc:${vips}" th:value="${nc.id}"  th:text="${nc.name}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">线路状态（暂时无用）：</label>
                                    <div class="col-sm-10">
                                        <select name="status" id="status" class="form-control" th:selected="${line.status}">
                                            <option value="0" th:selected="${line.status=='0'}">--停用--</option>
                                            <option value="1" th:selected="${line.status=='1'}">--启用--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">线路权重：</label>
                                    <div class="col-sm-10">
                                        <input id="weight" name="weight" type="text" class="form-control"  th:value="${line.weight}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">线路备注：</label>
                                    <div class="col-sm-10">
                                        <input id="remark" name="remark" type="text" class="form-control"  th:value="${line.remark}"/>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button id="submitButton" class="btn btn-primary" type="button">&nbsp;&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
        	<div class="footer" th:include="footer :: copyright"></div>
      	</div>
	</div>
	
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>
	
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
    
    <!-- Toastr script -->
    <script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>
    
    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    
    
    <script>
		$(document).ready(function () {
			$("#submitButton").click(function(){

                channels = document.getElementsByName("platForms");
                channels_val = [];
                for(k in channels){
                    if(channels[k].checked)
                        channels_val.push(channels[k].value);
                }

                menuIds = document.getElementsByName("menuIds");
                menuIds_val = [];
                for(k in menuIds){
                    if(menuIds[k].checked)
                        menuIds_val.push(menuIds[k].value);
                }

				if($("#userName").val() == ""){
					toastr.error('用户名不能为空','提示')
					return;
				}
                // if(channels_val.length <=0){
					// toastr.error('用户渠道不能为空','提示')
					// return;
                // }
                // if(menuIds_val.length <=0){
                //     toastr.error('用户菜单不能为空','提示')
                //     return;
                // }
				$("#formTag").submit();
			});
		});
        
    </script>



    <script th:inline="javascript">

        setTimeout(function refresh() {
            document.getElementById("systemMenu").click();
            $("#statisticsService").attr('class', 'active');
            $("#ul_statisticsService").attr('class', 'nav nav-second-level collapse in');
            $("#userManager").attr('style', 'color:#F8F8FF;');
        }, "100");
        /*]]>*/
    </script>

</body>

</html>
