<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>orderManager</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>订单管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>订单管理</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">

                <form id="listForm" name="listForm">
                    <div class="row">
                        <div class="col-sm-2 m-b-xs">
                            <label class="col-sm-2 control-label">订单id：</label>
                            <div class="col-sm-10">
                                <input id="orderId" name="orderId" type="text" class="form-control" th:value="${orderId}"/>
                            </div>
                        </div>
                        <div class="col-sm-2 m-b-xs">
                            <label class="col-sm-2 control-label">用户id：</label>
                            <div class="col-sm-10">
                                <input id="roleId" name="roleId" type="text" class="form-control" th:value="${roleId}"/>
                            </div>
                        </div>
                        <div class="col-sm-2 m-b-xs"><label class="col-sm-2 control-label">支付类型：</label>
                                <select name="platformUid" id="platformUid" class="control" th:selected="${platformUid}">
                                    <option value="0" th:selected="${platformUid==0}">--请选择--</option>
                                    <option value="1" th:selected="${platformUid==1}">--支付宝web--</option>
                                    <option value="2" th:selected="${platformUid==2}">--支付宝wap--</option>
                                    <option value="3" th:selected="${platformUid==3}">--微信--</option>
                                </select>
                        </div>
                        <div class="col-sm-2 m-b-xs"><label class="col-sm-2 control-label">状态：</label>
                                <select name="state" id="state" class="control" th:selected="${state}">
                                    <option value="-1" th:selected="${state==-1}">--请选择--</option>
                                    <option value="0" th:selected="${state==0}">--未支付--</option>
                                    <option value="1" th:selected="${state==1}">--支付成功--</option>
                                    <option value="3" th:selected="${state==3}">--支付失败--</option>
                                </select>
                        </div>
                        <div class="col-sm-2 m-b-xs">
                            <button id="submitButton" class="btn btn-primary btn-block" type="button"
                                    onclick="selectRecent()"><i
                                    class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong>
                            </button>
                        </div>
                    </div>
                </form>




                <!--<div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="row">
                                <div class="col-sm-6 m-b-xs">
                                    <a th:href="@{../../order/orderEdit}" class="btn btn-white btn-sm" data-toggle="tooltip"
                                       data-placement="left" title="" data-original-title="Refresh inbox"><i
                                            class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;新增兑换码&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                </div>
                                <div class="col-sm-6 m-b-xs"></div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>订单列表</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class=" table table-hover" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th width="8%">订单Id</th>
                                        <th width="8%">用户id</th>
                                        <th width="8%">商品id</th>
                                        <th width="8%">价格</th>
                                        <th width="8%">支付渠道</th>
                                        <th width="8%">支付类型</th>
                                        <th width="8%">创建时间</th>
                                        <th width="8%">支付时间</th>
                                        <th width="8%">三方订单Id</th>
                                        <th width="8%">订单状态</th>
                                        <th width="8%">订单详情</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="nc : ${data}">
                                        <td th:text="${nc.id}">Onions</td>
                                        <td th:text="${nc.roleId}">Onions</td>
                                        <td th:text="${nc.chargeId}">Onions</td>
                                        <td th:text="${nc.payItem}">Onions</td>
                                        <td th:text="${nc.platformId}">Onions</td>
                                        <td th:text="${nc.platformUid}">Onions</td>
                                        <td th:text="${#dates.format(nc.createTime, 'yyyy-MM-dd HH:mm:ss')}">Onions</td>
                                        <td th:text="${#dates.format(nc.finishTime, 'yyyy-MM-dd HH:mm:ss')}">Onions</td>
                                        <td th:text="${nc.platformOrderId}">Onions</td>
                                        <td th:text="${nc.state}">Onions</td>
                                        <td th:text="${nc.orderData}">Onions</td>

                                        <!--<td>
                                            <a th:href="@{'codeEdit?id='+${nc.getId()}}"
                                               title="修改"><i class="fa fa-edit text-navy"></i></a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" th:onclick="deleteCode([[${nc.getId()}]]);"
                                               title="删除"><i class="fa fa-trash-o text-navy"></i></a>

                                        </td>-->
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <ul id="pageHTML" class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var pageHTML = [[${pageHTML}]];
    $(document).ready(function () {
        $("#pageHTML").html(pageHTML);

    });

    /*]]>*/

    function deleteCode(lineId) {
        /*if(username=="admin"){
            toastr.error('admin无法删除', '提示')
            return 0;
        }*/

        if (confirm("确定删除吗?")) {
            $.ajax({
                type: "POST",
                url: "deleteCode?id=" + lineId,
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    window.location.reload();
                },
                error: function () {
                    alert("系统异常！");
                }
            });
        }
    }


    function selectRecent() {
        document.getElementById('listForm').action = "getOrderList";
        $("#listForm").submit();
    }
</script>


<script th:inline="javascript">

    setTimeout(function refresh() {
        document.getElementById("systemMenu").click();
        $("#statisticsService").attr('class', 'active');
        $("#ul_statisticsService").attr('class', 'nav nav-second-level collapse in');
        $("#orderManager").attr('style', 'color:#F8F8FF;');
    }, "100");
    /*]]>*/
</script>
</body>

</html>
