<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>优惠码编辑</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />

<!-- Toastr style -->
<link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

<link th:href="@{/css/style.css}" rel="stylesheet" />


</head>

<body>

    <div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
        	<div class="border-bottom" th:include="header :: headerTop"></div>
      		<div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
		   		<div class="col-lg-10">
		     		<h2>优惠码</h2>
		          	<ol class="breadcrumb">
			            <li>
			            	<a href="#">首页</a>
			            </li>
			            <li>
			            	<a>优惠码管理</a>
			         	</li>
					</ol>
		      	</div>
		      	<div class="col-lg-2">
		      	</div>
		  	</div>
        	<div class="wrapper wrapper-content animated fadeInRight">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>优惠码编辑</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="formTag" action="promoCodeEdit" method="POST" class="form-horizontal" enctype="multipart/form-data">
                                <input id="id" name="id" type="hidden" class="form-control" readonly th:value="${data.id}"/>



                                <div class="form-group"><label class="col-sm-2 control-label">兑换码：</label>
                                    <div class="col-sm-10">
                                        <input id="promoCode" name="promoCode" type="text" class="form-control"  th:value="${data.promoCode}"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">折扣：</label>
                                    <div class="col-sm-10">
                                        <input id="zhekou" name="zhekou" type="number" class="form-control"  th:value="${data.zhekou}"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">截止日期：</label>
                                    <div class="col-sm-10">
                                        <input id="endTime" name="endTime" type="number" class="form-control"  th:value="${data.endTime}"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">状态：</label>
                                    <div class="col-sm-10">
                                        <select name="status" id="status" class="form-control" th:selected="${data.status}">
                                            <option value="0" th:selected="${data.status==0}">--下架--</option>
                                            <option value="1" th:selected="${data.status==1}">--上架--</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group"><label class="col-sm-2 control-label">备注：</label>
                                    <div class="col-sm-10">
                                        <input id="remark" name="remark" type="text" class="form-control"  th:value="${data.remark}"/>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button id="submitButton" class="btn btn-primary" type="button">&nbsp;&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
        	<div class="footer" th:include="footer :: copyright"></div>
      	</div>
	</div>
	
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>
	
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
    
    <!-- Toastr script -->
    <script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>
    
    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    
    
    <script>
		$(document).ready(function () {
			$("#submitButton").click(function(){

                channels = document.getElementsByName("platForms");
                channels_val = [];
                for(k in channels){
                    if(channels[k].checked)
                        channels_val.push(channels[k].value);
                }

                menuIds = document.getElementsByName("menuIds");
                menuIds_val = [];
                for(k in menuIds){
                    if(menuIds[k].checked)
                        menuIds_val.push(menuIds[k].value);
                }

				if($("#userName").val() == ""){
					toastr.error('用户名不能为空','提示')
					return;
				}
                // if(channels_val.length <=0){
					// toastr.error('用户渠道不能为空','提示')
					// return;
                // }
                // if(menuIds_val.length <=0){
                //     toastr.error('用户菜单不能为空','提示')
                //     return;
                // }
				$("#formTag").submit();
			});
		});
        
    </script>



    <script th:inline="javascript">

        setTimeout(function refresh() {
            document.getElementById("systemMenu").click();
            $("#statisticsService").attr('class', 'active');
            $("#ul_statisticsService").attr('class', 'nav nav-second-level collapse in');
            $("#promoCodeManager").attr('style', 'color:#F8F8FF;');
        }, "100");
        /*]]>*/
    </script>

</body>

</html>
