<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>userManager</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>用户管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>用户管理</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">

                <form id="listForm" name="listForm">
                    <div class="row">
                        <div class="col-sm-2 m-b-xs">
                            <label class="col-sm-2 control-label">用户id（此查询不与其他条件共存）：</label>
                            <div class="col-sm-10">
                                <input id="userId" name="userId" type="text" class="form-control" th:value="${userId}"/>
                            </div>
                        </div>
                        <div class="col-sm-2 m-b-xs">
                            <label class="col-sm-2 control-label">用户名称（支持模糊查找）：</label>
                            <div class="col-sm-10">
                                <input id="userName" name="userName" type="text" class="form-control" th:value="${userName}"/>
                            </div>
                        </div>
                        <div class="col-sm-2 m-b-xs"><label class="col-sm-2 control-label">用户类型：</label>
                                <select name="vipLv" id="vipLv" class="control" th:selected="${vipLv}">
                                    <option value="-1" th:selected="${vipLv==0}">--请选择--</option>
                                    <option value="0" th:selected="${vipLv==0}">--火星公民--</option>
                                    <option value="1" th:selected="${vipLv==1}">--火星人杰VIP1--</option>
                                    <option value="2" th:selected="${vipLv==2}">--火星骑士VIP2--</option>
                                    <option value="3" th:selected="${vipLv==3}">--火星勋爵VIP3--</option>
                                    <option value="4" th:selected="${vipLv==4}">--火星男爵VIP4--</option>
                                    <option value="5" th:selected="${vipLv==5}">--火星子爵VIP5--</option>
                                    <option value="6" th:selected="${vipLv==6}">--火星伯爵VIP6--</option>
                                    <option value="7" th:selected="${vipLv==7}">--火星侯爵VIP7--</option>
                                    <option value="8" th:selected="${vipLv==8}">--火星公爵VIP8--</option>
                                    <option value="9" th:selected="${vipLv==9}">--火星王侯VIP9--</option>
                                    <option value="10" th:selected="${vipLv==10}">--火星大帝VIP10--</option>
                                </select>
                        </div>
                        <div class="col-sm-2 m-b-xs">
                            <button id="submitButton" class="btn btn-primary btn-block" type="button"
                                    onclick="selectRecent()"><i
                                    class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong>
                            </button>
                        </div>
                    </div>
                </form>




                <!--<div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="row">
                                <div class="col-sm-6 m-b-xs">
                                    <a th:href="@{../../order/orderEdit}" class="btn btn-white btn-sm" data-toggle="tooltip"
                                       data-placement="left" title="" data-original-title="Refresh inbox"><i
                                            class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;新增兑换码&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                </div>
                                <div class="col-sm-6 m-b-xs"></div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>订单列表</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class=" table table-hover" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th width="8%">用户id</th>
                                        <th width="8%">用户名称</th>
                                        <th width="8%">用户类型</th>
                                        <th width="8%">VIP到期时间</th>
                                        <th width="8%">创建时间</th>
                                        <th width="8%">上次登陆时间</th>
                                        <th width="8%">邀请码</th>
                                        <th width="8%">每日数据时间标记</th>
                                        <th width="8%">每日数据</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="nc : ${users}">
                                        <td th:text="${nc.id}">Onions</td>
                                        <td th:text="${nc.username}">Onions</td>
                                        <td th:if="${nc.vipLv==0}" th:text="火星公民"></td>
                                        <td th:if="${nc.vipLv==1}" th:text="火星人杰VIP1"></td>
                                        <td th:if="${nc.vipLv==2}" th:text="火星骑士VIP2"></td>
                                        <td th:if="${nc.vipLv==3}" th:text="火星勋爵VIP3"></td>
                                        <td th:if="${nc.vipLv==4}" th:text="火星男爵VIP4"></td>
                                        <td th:if="${nc.vipLv==5}" th:text="火星子爵VIP5"></td>
                                        <td th:if="${nc.vipLv==6}" th:text="火星伯爵VIP6"></td>
                                        <td th:if="${nc.vipLv==7}" th:text="火星侯爵VIP7"></td>
                                        <td th:if="${nc.vipLv==8}" th:text="火星公爵VIP8"></td>
                                        <td th:if="${nc.vipLv==9}" th:text="火星王侯VIP9"></td>
                                        <td th:if="${nc.vipLv==10}" th:text="火星大帝VIP10"></td>


                                        <td th:text="${#dates.format(nc.vipEndTime, 'yyyy-MM-dd HH:mm:ss')}">Onions</td>
                                        <td th:text="${#dates.format(nc.createTime, 'yyyy-MM-dd HH:mm:ss')}">Onions</td>
                                        <td th:text="${#dates.format(nc.lastLoginTime, 'yyyy-MM-dd HH:mm:ss')}">Onions</td>
                                        <td th:text="${nc.inviteCode}">Onions</td>
                                        <td th:text="${#dates.format(nc.dailyVersion, 'yyyy-MM-dd HH:mm:ss')}">Onions</td>
                                        <td th:text="${nc.paramData}">Onions</td>

                                        <!--<td>
                                            <a th:href="@{'codeEdit?id='+${nc.getId()}}"
                                               title="修改"><i class="fa fa-edit text-navy"></i></a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" th:onclick="deleteCode([[${nc.getId()}]]);"
                                               title="删除"><i class="fa fa-trash-o text-navy"></i></a>

                                        </td>-->
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <ul id="pageHTML" class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var pageHTML = [[${pageHTML}]];
    $(document).ready(function () {
        $("#pageHTML").html(pageHTML);

    });

    /*]]>*/

    function deleteCode(lineId) {
        /*if(username=="admin"){
            toastr.error('admin无法删除', '提示')
            return 0;
        }*/

        if (confirm("确定删除吗?")) {
            $.ajax({
                type: "POST",
                url: "deleteCode?id=" + lineId,
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    window.location.reload();
                },
                error: function () {
                    alert("系统异常！");
                }
            });
        }
    }


    function selectRecent() {
        document.getElementById('listForm').action = "getUsers";
        $("#listForm").submit();
    }
</script>


<script th:inline="javascript">

    setTimeout(function refresh() {
        document.getElementById("systemMenu").click();
        $("#statisticsService").attr('class', 'active');
        $("#ul_statisticsService").attr('class', 'nav nav-second-level collapse in');
        $("#userManager").attr('style', 'color:#F8F8FF;');
    }, "100");
    /*]]>*/
</script>
</body>

</html>
