<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>单日充值榜</title>

    <!--<link rel="stylesheet" th:src="${urls.getForLookupPath('/static/css/bootstrap.min.css') }"/>-->

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>
    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>单日充值记录展示</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li class="active">
                        <strong>单日充值记录查询</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="ibox-content" style="display: block;">
                    <form id="listForm" name="listForm">
                        <div class="row">
                            <div class="rowGroup">
                                <div class="col-sm-2 m-b-xs">
                                    <select name="channel" id="channel" class="form-control">
                                        <option value="-999" th:selected="${dataShow.channel}">--请选择渠道--</option>
                                        <option th:each="nc : ${channelList}" th:value="${nc.getParam1()}"
                                                th:text="${nc.getParam2()}"
                                                th:selected="${nc.getParam1().equalsIgnoreCase(dataShow.channel)}">渠道
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-2 ">
                                    <div class="input-group">
                                        <input type="text" class="form-control form_datetime" id="beginTime"
                                               name="beginTime" readonly placeholder="时间"
                                               th:value="${dataShow.beginTime}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 m-b-xs">
                                <button id="submitButton" class="btn btn-primary btn-block" type="button"
                                        onclick="search()"><i
                                        class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <div class="col-xs-3 col-md-2">
                                    <h5>充值人数</h5> <input id="1204" name="充值人数" type="text" class="form-control"
                                           th:value="${resultList.size()}" readonly style="width: 200px"/>
                                </div>
                                <div class="col-xs-3 col-md-2">
                                    <h5>充值金额</h5> <input id="num" name="充值金额" type="text" class="form-control"
                                                         th:value="${num}" readonly style="width: 200px"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>单日充值记录列表</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class=" table table-hover table-striped table-bordered" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th width="10%">排名</th>
                                        <th width="10%">充值金额</th>
                                        <th width="20%">玩家ID</th>
                                        <th width="20%">游戏昵称</th>
                                        <th width="10%">微信号</th>
                                        <th width="10%">手机号</th>
                                        <th width="10%">渠道</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="record: ${resultList}">
                                        <td th:text="${record.getRankId()}">Onions</td>
                                        <td th:text="${record.getNum()}">Onions</td>
                                        <td th:text="${record.getRoleId()}">Onions</td>
                                        <td th:text="${record.getName()}">Onions</td>
                                        <td th:text="${record.getWx()}">Onions</td>
                                        <td th:text="${record.getPhone()}">Onions</td>
                                        <td th:text="${record.getChannel()}">Onions</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>


<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<script th:inline="javascript">

    $(document).ready(function () {

        //设定日期选择格式
        $('.form_datetime').datetimepicker({
            minView: "month", //选择日期后，不会再跳转去选择时分秒
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            todayBtn: 1,
            autoclose: 1,
            weekStart: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            endDate: new Date()
        }).on("click", function () {
            //设定日期选择开始日期需要小于结束日期
            $("#beginTime").datetimepicker("setEndDate", $("#endTime").val() == '' ? new Date() : $("#endTime").val());
            $("#endTime").datetimepicker("setStartDate", $("#beginTime").val());

        })
    });


    function search() {
        if (judgeContent() == 0) {
            return;
        }
        document.getElementById('listForm').action = "showDailyChargeRank";
        $("#listForm").submit();
    }

    function judgeContent() {
        if ($("#beginTime").val() == "") {
            toastr.error('请输入时间', '提示')
            return 0;
        }
    }

    /*]]>*/
</script>


<script th:inline="javascript">

    setTimeout(function refresh() {
        document.getElementById("systemMenu").click();
        $("#statisticsService").attr('class', 'active');
        $("#ul_statisticsService").attr('class', 'nav nav-second-level collapse in');
        $("#dailyChargeRank").attr('style', 'color:#F8F8FF;');
    }, "100");
    /*]]>*/
</script>

</body>

</html>
