<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>LIU_CUN</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>


</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>留存</h2>
            </div>
            <div class="col-lg-2">
            </div>
            <li>
                <a th:href="@{index}"><i class="fa fa-diamond"></i> <span class="nav-label">首页</span></a>
            </li>
        </div>

        <div class="ibox-content" style="display: block;">
            <form id="listForm" name="listForm">
                <div class="row">
                    <!--<div class="col-sm-2 m-b-xs">-->
                        <!--<select name="platformType" id="platformType" class="form-control">-->
                            <!--<option value="999" th:selected="${dataShow.platformType}">&#45;&#45;请选择平台&#45;&#45;</option>-->
                            <!--<option th:each="nc : ${typeList}" th:value="${nc}"-->
                                    <!--th:text="${nc}" th:selected="${nc==dataShow.platformType}">分类-->
                            <!--</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <div class="col-sm-2 m-b-xs">
                        <button id="submitButton" class="btn btn-primary btn-block" type="button"
                                onclick="selectRecent(30)"><i
                                class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>最近30天</strong>
                        </button>
                    </div>
                    <div class="col-sm-2 m-b-xs">
                        <button id="submitButton7" class="btn btn-primary btn-block" type="button"
                                onclick="selectRecent(7)"><i
                                class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>最近7天</strong>
                        </button>
                    </div>
                </div>
                <div class="rowGroup">
                    <div class="col-sm-2 ">
                        <div class="input-group">
                            <input type="hidden" class="form-control form_datetime" id="days"
                                   name="days" readonly placeholder="参数"
                                   th:value="${dataShow.days}"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content" style="height:700px;">
                            <div id="container" style="height: 100%">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content" style="height:700px;">
                            <div id="containerBrokenLine" style="height: 100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<script th:src="@{/js/echart/echarts.min.js}"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        //设定日期选择格式
        $('.form_datetime').datetimepicker({
            minView: "month", //选择日期后，不会再跳转去选择时分秒
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            todayBtn: 1,
            autoclose: 1,
            weekStart: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            endDate: new Date()
        }).on("click", function () {
            //设定日期选择开始日期需要小于结束日期
            $("#beginTime").datetimepicker("setEndDate", $("#endTime").val() == '' ? new Date() : $("#endTime").val());
            $("#endTime").datetimepicker("setStartDate", $("#beginTime").val());

        })
    });
    /*]]>*/

    function selectRecent(param) {
        if (judgeContent() == 0) {
            return;
        }
        $("#days").attr("value",param);
        document.getElementById('listForm').action = "liucun";
        $("#listForm").submit();
    }

    function judgeContent() {
        if (($("#platformType").val() == "" || $("#platformType").val() == 999)) {
            toastr.error('请输入平台', '提示')
            return 0;
        }
    }

</script>

<script th:inline="JavaScript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('container'));
    var dateList = [[${dateList}]];
    var activeCiLiuRateList = [[${activeCiLiuRateList}]];
    var activeSanLiuRateList = [[${activeSanLiuRateList}]];
    var activeQiLiuRateList = [[${activeQiLiuRateList}]];
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '活跃用户留存率'
        },
        tooltip: {},
        legend: {
            data:['次日留存率','三日留存率','七日留存率']
        },
        xAxis: {
            data: dateList
        },
        yAxis: {},
        series: [
            {
            name: '次日留存率',
            type: 'line',
            data: activeCiLiuRateList
            },
            {
                name: '三日留存率',
                type: 'line',
                data: activeSanLiuRateList
            },
            {
                name: '七日留存率',
                type: 'line',
                data: activeQiLiuRateList
            }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>


<script type="text/javascript" th:inline="JavaScript">
    var my2Chart = echarts.init(document.getElementById('containerBrokenLine'));
    var newCiLiuRateList = [[${newCiLiuRateList}]];
    var newSanLiuRateList = [[${newSanLiuRateList}]];
    var newQiLiuRateList = [[${newQiLiuRateList}]];
    // 指定图表的配置项和数据
    var option2 = {
        title: {
            text: '新注册用户留存率'
        },
        tooltip: {},
        legend: {
            data:['次日留存率','三日留存率','七日留存率']
        },
        xAxis: {
            data: dateList
        },
        yAxis: {},
        series: [
            {
                name: '次日留存率',
                type: 'line',
                data: newCiLiuRateList
            },
            {
                name: '三日留存率',
                type: 'line',
                data: newSanLiuRateList
            },
            {
                name: '七日留存率',
                type: 'line',
                data: newQiLiuRateList
            }]
    };

    // 使用刚指定的配置项和数据显示图表。
    my2Chart.setOption(option2);

</script>


<script th:inline="javascript">

    setTimeout(function refresh() {
        document.getElementById("systemMenu").click();
        $("#statisticsService").attr('class', 'active');
        $("#ul_statisticsService").attr('class', 'nav nav-second-level collapse in');
        $("#liucun").attr('style', 'color:#F8F8FF;');
    }, "100");
    /*]]>*/
</script>

</body>

</html>
