<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>LTV</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>
</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>玩家LTV</h2>
            </div>
            <div class="col-lg-2">
            </div>
            <li>
                <a th:href="@{index}"><i class="fa fa-diamond"></i> <span class="nav-label">首页</span></a>
            </li>
        </div>

        <div class="ibox-content" style="display: block;">
            <form id="listForm" name="listForm">
                <div class="row">
                    <div class="col-sm-2 m-b-xs">
                        <select name="platformType" id="platformType" class="form-control">
                            <option value="999" th:selected="${dataShow.platformType}">--请选择平台--</option>
                            <option th:each="nc : ${typeList}" th:value="${nc}"
                                    th:text="${nc}" th:selected="${nc==dataShow.platformType}">分类
                            </option>
                        </select>
                    </div>

                    <div class="rowGroup">
                        <div class="col-sm-2 ">
                            <div class="input-group">
                                <input type="text" class="form-control form_datetime" id="beginTime"
                                       name="beginTime" readonly placeholder="时间"
                                       th:value="${dataShow.beginTime}"/>

                            </div>
                        </div>
                    </div>
                    <div class="rowGroup">
                        <div class="col-sm-2 ">
                            <div class="input-group">
                                <input type="text" class="form-control" id="days"
                                       name="days" placeholder="天数"
                                       th:value="${dataShow.days}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 m-b-xs">
                        <button id="submitButton" class="btn btn-primary btn-block" type="button"
                                onclick="select()"><i
                                class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>ltv：</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                            <div class="col-xs-3 col-md-2">
                                <input id="1204" name="LTV" type="text" class="form-control"
                                       th:value="${ltv}" readonly style="width: 200px"/>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        //设定日期选择格式
        $('.form_datetime').datetimepicker({
            minView: "month", //选择日期后，不会再跳转去选择时分秒
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            todayBtn: 1,
            autoclose: 1,
            weekStart: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            endDate: new Date()
        }).on("click", function () {
            //设定日期选择开始日期需要小于结束日期
            $("#beginTime").datetimepicker("setEndDate", $("#endTime").val() == '' ? new Date() : $("#endTime").val());
            $("#endTime").datetimepicker("setStartDate", $("#beginTime").val());

        })
    });
    /*]]>*/

    function select() {
        if (judgeContent() == 0) {
            return;
        }
        document.getElementById('listForm').action = "LTVShow";
        $("#listForm").submit();
    }

    function judgeContent() {
        if (($("#platformType").val() == "" || $("#platformType").val() == 999)) {
            toastr.error('请输入平台', '提示')
            return 0;
        }
        if ($("#beginTime").val() == "") {
            toastr.error('请输入开始时间', '提示')
            return 0;
        }
        if ($("#endTime").val() == "") {
            toastr.error('请输入结束时间', '提示')
            return 0;
        }
    }

</script>

<script th:inline="javascript">

    setTimeout(function refresh() {
        document.getElementById("systemMenu").click();
        $("#statisticsService").attr('class', 'active');
        $("#ul_statisticsService").attr('class', 'nav nav-second-level collapse in');
        $("#LTVRecordShow").attr('style', 'color:#F8F8FF;');
    }, "100");
    /*]]>*/
</script>

</body>

</html>
