<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>充值阶段展示</title>

    <!--<link rel="stylesheet" th:src="${urls.getForLookupPath('/static/css/bootstrap.min.css') }"/>-->

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>
    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>充值记录展示</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li class="active">
                        <strong>充值记录查询（默认显示前一天）</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="ibox-content" style="display: block;">
                    <form id="listForm" name="listForm">
                        <div class="row">
                            <div class="rowGroup">
                                <div class="col-sm-2 ">
                                    <div class="input-group">
                                        <input type="text" class="form-control form_datetime" id="beginTime"
                                               name="beginTime" readonly placeholder="开始时间"
                                               th:value="${dataShow.beginTime}"/>
                                    </div>
                                </div>
                                <div class="col-sm-2 ">
                                    <div class="input-group">
                                        <input type="text" class="form-control form_datetime" id="endTime"
                                               name="endTime" readonly placeholder="结束时间"
                                               th:value="${dataShow.endTime}"/>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label class="col-sm-2 control-label">一阶段：</label>
                                    <div class="input-group">
                                        <input id="oneMin" name="oneMin" type="text" class="form-control" th:value="${dataShow.oneMin}" placeholder="阶段小值"/>
                                    </div>
                                    <div class="input-group">
                                        <input id="oneMax" name="oneMax" type="text" class="form-control" th:value="${dataShow.oneMax}" placeholder="阶段大值"/>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label class="col-sm-2 control-label">二阶段：</label>
                                    <div class="input-group">
                                        <input id="twoMin" name="twoMin" type="text" class="form-control" th:value="${dataShow.twoMin}" placeholder="阶段小值"/>
                                    </div>
                                    <div class="input-group">
                                        <input id="twoMax" name="twoMax" type="text" class="form-control" th:value="${dataShow.twoMax}" placeholder="阶段大值"/>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label class="col-sm-2 control-label">三阶段：</label>
                                    <div class="input-group">
                                        <input id="threeMin" name="threeMin" type="text" class="form-control" th:value="${dataShow.threeMin}" placeholder="阶段小值"/>
                                    </div>
                                    <div class="input-group">
                                        <input id="threeMax" name="threeMax" type="text" class="form-control" th:value="${dataShow.threeMax}" placeholder="阶段大值"/>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label class="col-sm-2 control-label">四阶段：</label>
                                    <div class="input-group">
                                        <input id="fourMin" name="fourMin" type="text" class="form-control" th:value="${dataShow.fourMin}" placeholder="阶段小值"/>
                                    </div>
                                    <div class="input-group">
                                        <input id="fourMax" name="fourMax" type="text" class="form-control" th:value="${dataShow.fourMax}" placeholder="阶段大值"/>
                                    </div>
                                </div>
                                <!--<div class="col-sm-2">-->
                                    <!--<label class="col-sm-2 control-label">五阶段：</label>-->
                                    <!--<div class="input-group">-->
                                        <!--<input id="fiveMin" name="fiveMin" type="text" class="form-control" th:value="${dataShow.fiveMin}" placeholder="阶段小值"/>-->
                                    <!--</div>-->
                                    <!--<div class="input-group">-->
                                        <!--<input id="fiveMax" name="fiveMax" type="text" class="form-control" th:value="${dataShow.fiveMax}" placeholder="阶段大值"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                            <div class="col-sm-2 m-b-xs">
                                <button id="submitButton" class="btn btn-primary btn-block" type="button"
                                        onclick="search()"><i
                                        class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins"  style="height:700px;">
                        <div id="container" style="height: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>


<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<script th:src="@{/js/echart/echarts.min.js}"></script>

<script th:inline="javascript">

    $(document).ready(function () {

        //设定日期选择格式
        $('.form_datetime').datetimepicker({
            minView: "month", //选择日期后，不会再跳转去选择时分秒
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            todayBtn: 1,
            autoclose: 1,
            weekStart: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            endDate: new Date()
        }).on("click", function () {
            //设定日期选择开始日期需要小于结束日期
            $("#beginTime").datetimepicker("setEndDate", $("#endTime").val() == '' ? new Date() : $("#endTime").val());
            $("#endTime").datetimepicker("setStartDate", $("#beginTime").val());

        })
    });


    function search() {
        document.getElementById('listForm').action = "showChargeContrast";
        $("#listForm").submit();
    }

    /*]]>*/
</script>


<script th:inline="javascript">

    setTimeout(function refresh() {
        document.getElementById("systemMenu").click();
        $("#statisticsService").attr('class', 'active');
        $("#ul_statisticsService").attr('class', 'nav nav-second-level collapse in');
        $("#chargeContrast").attr('style', 'color:#F8F8FF;');
    }, "100");
    /*]]>*/
</script>

<script  th:inline="javascript">

    var legendData = [[${legendData}]];
    var series = [[${series}]];
    console.info(legendData);
    console.info(series);
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        title : {
            text: '充值占比',
            subtext: '',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: legendData
        },
        series : [
            {
                name: '充值划分',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:series,
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    },
                    normal:{
                        label:{
                            show: true,
                            formatter: '{b} : {c} ({d}%)'
                        },
                        labelLine :{show:true}
                    }
                }
            }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>

<!--<script th:inline="javascript">-->

    <!--var myChartOption = [[${myChartOption}]];-->
    <!--var colorRandom =[[${colorRandom}]];-->
    <!--var xAxisData =[[${xAxisData}]];-->
    <!--var series = [[${series}]];-->
    <!--var legendData = [[${legendData}]];-->


    <!--console.info(xAxisData);-->
    <!--console.info(series);-->
    <!--console.info(legendData);-->

    <!--var dom = document.getElementById("container");-->
    <!--var myChart = echarts.init(dom);-->
    <!--var app = {};-->
    <!--option = null;-->
    <!--var posList = [-->
        <!--'left', 'right', 'top', 'bottom',-->
        <!--'inside',-->
        <!--'insideTop', 'insideLeft', 'insideRight', 'insideBottom',-->
        <!--'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'-->
    <!--];-->

    <!--app.configParameters = {-->
        <!--rotate: {-->
            <!--min: -90,-->
            <!--max: 90-->
        <!--},-->
        <!--align: {-->
            <!--options: {-->
                <!--left: 'left',-->
                <!--center: 'center',-->
                <!--right: 'right'-->
            <!--}-->
        <!--},-->
        <!--verticalAlign: {-->
            <!--options: {-->
                <!--top: 'top',-->
                <!--middle: 'middle',-->
                <!--bottom: 'bottom'-->
            <!--}-->
        <!--},-->
        <!--position: {-->
            <!--options: echarts.util.reduce(posList, function (map, pos) {-->
                <!--map[pos] = pos;-->
                <!--return map;-->
            <!--}, {})-->
        <!--},-->
        <!--distance: {-->
            <!--min: 0,-->
            <!--max: 100-->
        <!--}-->
    <!--};-->

    <!--app.config = {-->
        <!--rotate: 90,-->
        <!--align: 'left',-->
        <!--verticalAlign: 'middle',-->
        <!--position: 'insideBottom',-->
        <!--distance: 15,-->
        <!--onChange: function () {-->
            <!--var labelOption = {-->
                <!--normal: {-->
                    <!--rotate: app.config.rotate,-->
                    <!--align: app.config.align,-->
                    <!--verticalAlign: app.config.verticalAlign,-->
                    <!--position: app.config.position,-->
                    <!--distance: app.config.distance-->
                <!--}-->
            <!--};-->
            <!--myChart.setOption({-->
                <!--series: myChartOption-->
            <!--});-->
        <!--}-->
    <!--};-->


    <!--var labelOption = {-->
        <!--normal: {-->
            <!--show: true,-->
            <!--position: app.config.position,-->
            <!--distance: app.config.distance,-->
            <!--align: app.config.align,-->
            <!--verticalAlign: app.config.verticalAlign,-->
            <!--rotate: app.config.rotate,-->
            <!--formatter: '{c}  {name|{a}}',-->
            <!--fontSize: 16,-->
            <!--rich: {-->
                <!--name: {-->
                    <!--textBorderColor: '#fff'-->
                <!--}-->
            <!--}-->
        <!--}-->
    <!--};-->

    <!--option = {-->
        <!--color: colorRandom,-->
        <!--tooltip: {-->
            <!--trigger: 'axis',-->
            <!--axisPointer: {-->
                <!--type: 'shadow'-->
            <!--}-->
        <!--},-->
        <!--legend: {-->
            <!--data: legendData-->
        <!--},-->
        <!--toolbox: {-->
            <!--show: true,-->
            <!--orient: 'vertical',-->
            <!--left: 'right',-->
            <!--top: 'center',-->
            <!--feature: {-->
                <!--mark: {show: true},-->
                <!--dataView: {show: true, readOnly: false},-->
                <!--magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},-->
                <!--restore: {show: true},-->
                <!--saveAsImage: {show: true}-->
            <!--}-->
        <!--},-->
        <!--calculable: true,-->
        <!--xAxis: [-->
            <!--{-->
                <!--type: 'category',-->
                <!--axisTick: {show: false},-->
                <!--data: xAxisData-->
            <!--}-->
        <!--],-->
        <!--yAxis: [-->
            <!--{-->
                <!--type: 'value'-->
            <!--}-->
        <!--],-->
        <!--series:-->
            <!--series-->

    <!--};-->
    <!--if (option && typeof option === "object") {-->
        <!--myChart.setOption(option, true);-->
    <!--}-->
<!--</script>-->

</body>

</html>
