<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>LTV_RECORD</title>

    <!--<link rel="stylesheet" th:src="${urls.getForLookupPath('/static/css/bootstrap.min.css') }"/>-->

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>LTV记录展示</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li class="active">
                        <strong>数据记录查询</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
            <li>
                <a th:href="@{index}"><i class="fa fa-diamond"></i> <span class="nav-label">首页</span></a>
            </li>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="ibox-content" style="display: block;">
                    <form id="listForm" name="listForm">
                        <div class="row">
                            <div class="col-sm-2 m-b-xs">
                                <button id="submitButtonALL" class="btn btn-primary btn-block" type="button"
                                        onclick="selectRecent(-1)"><i
                                        class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>所有</strong>
                                </button>
                            </div>
                            <div class="col-sm-2 m-b-xs">
                                <button id="submitButton30" class="btn btn-primary btn-block" type="button"
                                        onclick="selectRecent(30)"><i
                                        class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>最近30天</strong>
                                </button>
                            </div>
                            <div class="col-sm-2 m-b-xs">
                                <button id="submitButton7" class="btn btn-primary btn-block" type="button"
                                        onclick="selectRecent(7)"><i
                                        class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>最近7天</strong>
                                </button>
                            </div>
                        </div>
                        <div class="rowGroup">
                            <div class="col-sm-2 ">
                                <div class="input-group">
                                    <input type="hidden" class="form-control form_datetime" id="days"
                                           name="days" readonly placeholder="参数"
                                           th:value="${dataShow.days}"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>记录列表</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class=" table table-hover table-striped table-bordered" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th width="5%">时间</th>
                                        <th width="5%">3</th>
                                        <th width="5%">7</th>
                                        <th width="5%">15</th>
                                        <th width="5%">30</th>
                                        <th width="5%">60</th>
                                        <th width="5%">90</th>
                                        <th width="5%">120</th>
                                        <th width="5%">操作</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="record: ${list}">
                                        <td th:if="${record.getSign()} eq 1" th:bgcolor="'#FFA500'"  th:text="${#dates.format(record.dailyVersion, 'yyyy-MM-dd')}">Onions</td>
                                        <td th:if="${record.getSign()} eq 0" th:text="${#dates.format(record.dailyVersion, 'yyyy-MM-dd')}">Onions</td>
                                        <td th:if="${record.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${record.getThreeRate()}">Onions</td>
                                        <td th:if="${record.getSign()} eq 0" th:text="${record.getThreeRate()}">Onions</td>
                                        <td th:if="${record.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${record.getSevernRate()}">Onions</td>
                                        <td th:if="${record.getSign()} eq 0" th:text="${record.getSevernRate()}">Onions</td>
                                        <td th:if="${record.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${record.getFifteenRate()}">Onions</td>
                                        <td th:if="${record.getSign()} eq 0" th:text="${record.getFifteenRate()}">Onions</td>
                                        <td th:if="${record.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${record.getThirtyRate()}">Onions</td>
                                        <td th:if="${record.getSign()} eq 0" th:text="${record.getThirtyRate()}">Onions</td>
                                        <td th:if="${record.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${record.getSixtyRate()}">Onions</td>
                                        <td th:if="${record.getSign()} eq 0" th:text="${record.getSixtyRate()}">Onions</td>
                                        <td th:if="${record.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${record.getNinetyRate()}">Onions</td>
                                        <td th:if="${record.getSign()} eq 0" th:text="${record.getNinetyRate()}">Onions</td>
                                        <td th:if="${record.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${record.getOneHundred20Rate()}">Onions</td>
                                        <td th:if="${record.getSign()} eq 0" th:text="${record.getOneHundred20Rate()}">Onions</td>


                                        <td>
                                            <a href="#" th:onclick="'javascript:checkMenu('+${record.dailyVersion/100000*100000}+');'"
                                               title="查看" th:if="${record.getSign()} eq 1"><i class="fa fa-search text-navy"></i></a>
                                            <!--<a th:href="@{'toEditDailyDataShowNew?dailyVersion='+${record.dailyVersion}}"
                                               title="修改"><i class="fa fa-edit text-navy"></i></a>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>


<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
<!--<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>-->

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<script th:inline="javascript">

    $(document).ready(function () {

        //设定日期选择格式
        $('.form_datetime').datetimepicker({
            // minView: "month", //选择日期后，不会再跳转去选择时分秒
            language: 'zh-CN',
            format: 'yyyy-mm-dd hh:ii',
            todayBtn: 1,
            autoclose: 1,
            weekStart: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            endDate: new Date()
        }).on("click", function () {
            //设定日期选择开始日期需要小于结束日期
            $("#beginTime").datetimepicker("setEndDate", $("#endTime").val() == '' ? new Date() : $("#endTime").val());
            $("#endTime").datetimepicker("setStartDate", $("#beginTime").val());

        })
    });

    //更新
    function select_Change(){
        var form_submit = document.getElementById('listForm');
        form_submit.submit();
    }

    function selectRecent(param) {
        $("#days").attr("value",param);
        document.getElementById('listForm').action = "LTVRecordShow";
        $("#listForm").submit();
    }
    function checkMenu(id) {
        $.ajax({
            type: "POST",
            url: "/admin/remarkData/remarkDataInfo?dailyVersion=" + id,
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                var obj = JSON.parse(msg);
                alert(obj.remark);
            },
            error: function () {
                alert("系统异常！");
            }
        });
    }
    /*]]>*/
</script>


<script th:inline="javascript">

    setTimeout(function refresh() {
        document.getElementById("systemMenu").click();
        $("#statisticsService").attr('class', 'active');
        $("#ul_statisticsService").attr('class', 'nav nav-second-level collapse in');
        $("#LTVRecordShow").attr('style', 'color:#F8F8FF;');
    }, "100");
    /*]]>*/
</script>


</body>

</html>
