<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>UserManager</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>用户管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>用户管理</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="row">
                                <div class="col-sm-6 m-b-xs">
                                    <a th:href="@{editUser}" class="btn btn-white btn-sm" data-toggle="tooltip"
                                       data-placement="left" title="" data-original-title="Refresh inbox"><i
                                            class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;新增用户&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                </div>
                                <div class="col-sm-6 m-b-xs"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>用户列表</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class=" table table-hover" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th width="8%">账号Id</th>
                                        <th width="8%">登录名</th>
                                        <th width="10%">平台权限</th>
                                        <th width="15%">一级渠道权限</th>
                                        <th width="15%">二级渠道权限</th>
                                        <th width="60%">可视权限</th>
                                        <th width="10%">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="nc : ${userList}">
                                        <td th:text="${nc.id}">Onions</td>
                                        <td th:text="${nc.getUserName()}">Onions</td>
                                        <td th:text="${nc.getPlatformTypeName()}" style="word-break:break-all;">Onions</td>
                                        <td th:text="${nc.getSubChannelName()}" style="word-break:break-all;">Onions</td>
                                        <td th:text="${nc.getChannelName()}" style="word-break:break-all;">Onions</td>
                                        <td th:text="${nc.getSystemMenuName()}" style="word-break:break-all;">Onions</td>
                                        <td>
                                            <a th:href="@{'editUser?username='+${nc.getUserName()}}"
                                               title="修改"><i class="fa fa-edit text-navy"></i></a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" th:onclick="deleteUser([[${nc.getUserName()}]]);"
                                               title="删除"><i class="fa fa-trash-o text-navy"></i></a>

                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <ul id="pageHTML" class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var pageHTML = [[${pageHTML}]];
    $(document).ready(function () {
        $("#pageHTML").html(pageHTML);

    });

    /*]]>*/

    function deleteUser(username) {
        if(username=="admin"){
            toastr.error('admin无法删除', '提示')
            return 0;
        }

        if (confirm("确定删除此用户?")) {
            $.ajax({
                type: "POST",
                url: "deleteUser?username=" + username,
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    window.location.reload();
                },
                error: function () {
                    alert("系统异常！");
                }
            });
        }
    }

</script>


<script th:inline="javascript">

    setTimeout(function refresh() {
        document.getElementById("systemMenu").click();
        $("#statisticsService").attr('class', 'active');
        $("#ul_statisticsService").attr('class', 'nav nav-second-level collapse in');
        $("#userManager").attr('style', 'color:#F8F8FF;');
    }, "100");
    /*]]>*/
</script>
</body>

</html>
