<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>CLIENT_LOG_PAY</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>


</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>客户端支付情况(从6月10号版本更新到现在，实时计算)</h2>
            </div>
            <div class="col-lg-2">
            </div>
            <li>
                <a th:href="@{index}"><i class="fa fa-diamond"></i> <span class="nav-label">首页</span></a>
            </li>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>客户端支付情况汇总</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class=" table table-hover table-striped table-bordered" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th width="20%">档位</th>
                                        <th width="20%">支付拉起次数</th>
                                        <th width="30%">支付成功次数</th>
                                        <th width="30%">转化率</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="clientPay: ${clientPayList}">
                                        <td th:text="${clientPay.getData1()}">Onions</td>
                                        <td th:text="${clientPay.getDataLong2()}">Onions</td>
                                        <td th:if="${clientPay.getDataLong3()} eq 0" th:text="${clientPay.getDataLong3()}" th:bgcolor="'#FFA500'">Onions</td>
                                        <td th:if="${clientPay.getDataLong3()} ne 0" th:text="${clientPay.getDataLong3()}">Onions</td>
                                        <!--<td th:text="${clientPay.getDataLong3()}">Onions</td>-->
                                        <td th:inline="text">
                                            <div style="float:left;width:160px; height:15px;
                                                    margin:3px 10px 0 10px;border-style:solid;border-width:1px;">
                                                <div th:style="'background:#5f8dd4;height:14px;width:'+*{clientPay.getDataDouble1()*100+'%'}+''">
                                                </div>
                                            </div>
                                            <span>[[*{clientPay.getDataDouble1()*100+'%'}]]</span>
                                        </td>

                                        <!--<td th:text="${clientPay.getDataDouble1()}">Onions</td>-->
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<script th:inline="javascript">

    setTimeout(function refresh() {
        document.getElementById("systemMenu").click();
        $("#statisticsService").attr('class', 'active');
        $("#ul_statisticsService").attr('class', 'nav nav-second-level collapse in');
    }, "100");
    /*]]>*/
</script>

</body>

</html>
