<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>CLIENTLOG</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>


</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>客户端日志打点</h2>
            </div>
            <div class="col-lg-2">
            </div>
            <li>
                <a th:href="@{index}"><i class="fa fa-diamond"></i> <span class="nav-label">首页</span></a>
            </li>
        </div>

        <div class="ibox-content" style="display: block;">
            <form id="listForm" name="listForm">
                <div class="row">

                    <div class="rowGroup">
                        <div class="col-sm-2 ">
                            <div class="input-group">
                                <input type="text" class="form-control form_datetime" id="beginTime"
                                       name="beginTime" readonly placeholder="开始时间"
                                       th:value="${clientLogShow.beginTime}"/>

                            </div>
                        </div>
                    </div>
                    <div class="rowGroup">
                        <div class="col-sm-2 ">
                            <div class="input-group">
                                <input type="text" class="form-control form_datetime" id="endTime"
                                       name="endTime" readonly placeholder="结束日期"
                                       th:value="${clientLogShow.endTime}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 m-b-xs">
                        <button id="submitButton" class="btn btn-primary btn-block" type="button"
                                onclick="selectSteps()"><i
                                class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>每步人数</strong>
                        </button>
                    </div>
                    <!--<div class="col-sm-2 m-b-xs">-->
                        <!--<button id="submitButtonActive" class="btn btn-primary btn-block" type="button"-->
                                <!--onclick="selectActive()"><i-->
                                <!--class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>玩家活跃</strong>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2 m-b-xs">-->
                        <!--<button id="submitButtonNewRetain" class="btn btn-primary btn-block" type="button"-->
                                <!--onclick="selectActiveNewRetain()"><i-->
                                <!--class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>玩家新增留存</strong>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2 m-b-xs">-->
                        <!--<button id="submitButtonActiveRetain" class="btn btn-primary btn-block" type="button"-->
                                <!--onclick="selectActiveActiveRetain()"><i-->
                                <!--class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>玩家活跃留存</strong>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2 m-b-xs">-->
                        <!--<button id="submitButtonCostDetail" class="btn btn-primary btn-block" type="button"-->
                                <!--onclick="selectActiveCostDetail()"><i-->
                                <!--class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>玩家金币产出、消耗</strong>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2 m-b-xs">-->
                        <!--<button id="submitButtonIncome" class="btn btn-primary btn-block" type="button"-->
                                <!--onclick="selectActiveIncome()"><i-->
                                <!--class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>收入</strong>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2 m-b-xs">-->
                        <!--<button id="submitButtonReg" class="btn btn-primary btn-block" type="button"-->
                                <!--onclick="selectReg()"><i-->
                                <!--class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>总注册</strong>-->
                        <!--</button>-->
                    <!--</div>-->
                </div>
            </form>
        </div>

        <div class="ibox-content" style="display: block;">
            <form action="getHuaFeiQuanForPlayer">
                <div class="row">
                    <div class="col-xs-4 col-md-2">
                        <button class="btn btn-primary btn-block" type="submit">
                            &nbsp;&nbsp;&nbsp;&nbsp;<strong>玩家拥有话费券</strong>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>


<script th:inline="javascript">
    $(document).ready(function () {
        //设定日期选择格式
        $('.form_datetime').datetimepicker({
            // minView: "month", //选择日期后，不会再跳转去选择时分秒
            language: 'zh-CN',
            format: 'yyyy-mm-dd hh:ii',
            todayBtn: 1,
            autoclose: 1,
            weekStart: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            endDate: new Date()
        }).on("click", function () {
            //设定日期选择开始日期需要小于结束日期
            $("#beginTime").datetimepicker("setEndDate", $("#endTime").val() == '' ? new Date() : $("#endTime").val());
            $("#endTime").datetimepicker("setStartDate", $("#beginTime").val());

        })
    });
    /*]]>*/
</script>

<script th:inline="javascript">
    $(document).ready(function () {
        $("#statisticsService").attr('class', 'active');
        $("#ul_statisticsService").attr('class', 'nav nav-second-level collapse in');
    });
    /*]]>*/
</script>

<script>
    function selectSteps() {
        if (judgeContent() == 0) {
            return;
        }
        document.getElementById('listForm').action = "stepsNum";
        $("#listForm").submit();
    }

    function selectActiveIncome() {
        if (judgeContent() == 0) {
            return;
        }
        document.getElementById('listForm').action = "income";
        $("#listForm").submit();
    }

    function selectActiveCostDetail() {
        if (judgeContent() == 0) {
            return;
        }
        document.getElementById('listForm').action = "costDetail";
        $("#listForm").submit();
    }

    function selectActiveActiveRetain() {
        if (judgeContent() == 0) {
            return;
        }
        document.getElementById('listForm').action = "activeRetain";
        $("#listForm").submit();
    }

    function selectActiveNewRetain() {

        if (judgeContent() == 0) {
            return;
        }
        document.getElementById('listForm').action = "newPlayerRetain";
        $("#listForm").submit();
    }

    function selectActive() {

        if (judgeContent() == 0) {
            return;
        }
        document.getElementById('listForm').action = "active";
        $("#listForm").submit();
    }

    function selectNewPlayer() {

        if (judgeContent() == 0) {
            return;
        }
        document.getElementById('listForm').action = "newPlayer";
        $("#listForm").submit();
    }

    function judgeContent() {
        // if ($("#beginTime").val() == "") {
        //     toastr.error('请输入开始时间', '提示')
        //     return 0;
        // }
        // if ($("#endTime").val() == "") {
        //     toastr.error('请输入结束时间', '提示')
        //     return 0;
        // }
        return 1;
    }

    //
    // $(document).ready(function () {
    //     $("#submitButtonActive").click(function () {
    //         if (($("#platformType").val() == "" || $("#platformType").val() == 999)) {
    //             toastr.error('请输入平台', '提示')
    //             return;
    //         }
    //         if ($("#beginTime").val() == "") {
    //             toastr.error('请输入开始时间', '提示')
    //             return;
    //         }
    //         if ($("#endTime").val() == "") {
    //             toastr.error('请输入结束时间', '提示')
    //             return;
    //         }
    //         $("#listForm").submit();
    //     });
    // });

</script>


</body>

</html>
