<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>ERROR</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>

</head>

<body>

<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <div class="col-lg-10">
                    <h2>访问页面不存在。正在跳转登陆页面，请重新登录。</h2>
                    <font color="yellow"><p id="Time">3</p></font>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div>
</div>
<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>


<script th:inline="JavaScript">
    function countDown() {
        //获取初始时间
        var time = document.getElementById("Time");

        //获取到id为time标签中的数字时间
        if (time.innerHTML == 0) {
            //等于0时清除计时，并跳转该指定页面
            window.location.href = "http://"+ [[${ip}]]+":8026/admin/login";
        } else {
            time.innerHTML = time.innerHTML - 1;
        }
    }

    //1000毫秒调用一次
    window.setInterval("countDown()", 1000);
</script>
<style>
    #Time, #p {
        font-size: 150px;
        text-align: center;
    }

    #Font, #p {
        font-size: 100px;
        text-align: center;
    }
</style>

</body>

</html>
