<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<div class="row border-bottom" th:fragment="headerTop">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="#">
                <div class="form-group">
                    <input placeholder="搜索..." class="form-control" name="top-search" id="top-search" type="text"/>
                </div>
            </form>
        </div>
        <div class="navbar-header">
        <h3>
            <ul class="nav navbar-top-links  navbar-header" th:each="str : ${userPlatFormTypes}" style="height: 30px">
                <li > <a th:if="${str} eq 'wx_fish' " th:href="@{'http://134.175.229.232:8026/admin/login'}"><h4>微信数据平台</h4></a></li>
                <li > <a th:if="${str} eq 'cluster' " th:href="@{'http://188.131.217.233:8026/admin/login'}"><h4>大通服数据平台</h4></a></li>
                <li > <a th:if="${str} eq 'majia' " th:href="@{'http://154.8.212.230:8026/admin/login'}"><h4>马甲数据平台</h4></a></li>
            </ul>
        </h3>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome to dataCenter.</span>
            </li>
                <h3><p style="color:#FF0000">
                    <label th:if="${platFormType} eq 'dev' " th:text="开发数据平台"></label>
                    <label th:if="${platFormType} eq 'wx_fish' " th:text="微信数据平台"></label>
                    <label th:if="${platFormType} eq 'app' " th:text="APP封测数据平台"></label>
                    <label th:if="${platFormType} eq 'cluster' " th:text="大通服数据平台"></label>
                    <label th:if="${platFormType} eq 'majia' " th:text="马甲数据平台"></label>
                </p></h3>
            <li>
                <a href="/admin/login">
                    <i class="fa fa-sign-out"></i> 登 出
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>