<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>INSPINIA | Login</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />

<link th:href="@{/css/animate.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />

<!-- Sweet Alert -->
<link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet"/>
    
</head>

<body class="gray-bg">

	<div class="middle-box text-center loginscreen animated fadeInDown">
		<div>
			<div>
				<h2 class="logo-name">myvpn Manager</h2>
			</div>
			<p>Login in. To see it in action.</p>
			<h3><p style="color:#FF0000">
               <!-- <label th:if="${platFormType} eq 'dev' " th:text="开发数据平台"></label>
                <label th:if="${platFormType} eq 'wx_fish' " th:text="微信数据平台"></label>
                <label th:if="${platFormType} eq 'app' " th:text="APP封测数据平台"></label>
                <label th:if="${platFormType} eq 'cluster' " th:text="大通服数据平台"></label>
				<label th:if="${platFormType} eq 'majia' " th:text="红包数据平台"></label>-->
            </p></h3>
			<form class="m-t" role="form" action="login" method="post">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="name" name="name" required="" />
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="password" name="password" required="" />
				</div>
				<button type="submit" class="btn btn-primary block full-width m-b">Login</button>
				<a th:href="@{register}" href="#"><small>Forgot password?</small></a>
				<p class="text-muted text-center">
					<small>Do not have an account?</small>
				</p>
			</form>
		</div>
		<!--<div class="ibox-content">-->
			<!--<div class="row">-->
				<!--<div class="col-md-2"> <a th:href="@{'http://62.234.143.125:8026/admin/login'}"><h4>APP封测数据平台</h4></a></div>-->
				<!--<div class="col-md-2"> <a th:href="@{'http://134.175.229.232:8026/admin/login '}"><h4>微信数据平台</h4></a></div>-->
				<!--<div class="col-md-2"> <a th:href="@{'http://152.136.163.176:8026/admin/login'}"><h4>大通服数据平台</h4></a></div>-->
				<!--</row>-->
			<!--</div>-->
		<!--</div>-->
	</div>

	<!-- Mainly scripts -->
	<script th:src="@{/js/jquery-2.1.1.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- Sweet alert -->
    <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>

	
	<script th:inline="javascript">
		var error = [[${error}]];
		$(document).ready(function () {
			if(error!=null){
				 swal({
		         	title : "温馨提示",
		         	text : error
		      	});
			}
		});

	</script>
</body>

</html>
