<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    	<span>
                            <img alt="image" class="img-circle" th:src="@{/img/profile_small.jpg}"/>
						</span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                            	<span class="block m-t-xs">
                            		<p style="color:#DAA520">1212
                                        <!--<label th:if="${platFormType} eq 'dev' " th:text="开发数据平台"></label>
                                        <label th:if="${platFormType} eq 'wx_fish' " th:text="微信数据平台"></label>
                                        <label th:if="${platFormType} eq 'app' " th:text="APP封测数据平台"></label>
                                        <label th:if="${platFormType} eq 'cluster' " th:text="大通服数据平台"></label>
                                        <label th:if="${platFormType} eq 'majia' " th:text="红包数据平台"></label>-->
                                     </p>
                             	</span>
                             </span>
                    </a>
                </div>
                <div class="logo-element">
                    菜单
                </div>
            </li>

            <!--<li id="statisticsService">-->
            <!--&lt;!&ndash;<a href="javascript:;" th:if="${list.pid==0}">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="iconfont">&#xe6b4;</i>&ndash;&gt;-->
            <!--&lt;!&ndash;<cite th:text="${list.menuName}"></cite>&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="iconfont nav_right">&#xe697;</i>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--<ul class="sub-menu" th:each="listMenuTreeNode : ${listMenu}">-->
            <!--<li th:if="${listMenuTreeNode.pid!=0}">-->
            <!--<a th:href="${listMenuTreeNode.menuHref}"  >-->
            <!--<i class="iconfont">&#xe6a7;</i>-->
            <!--<cite th:text="${listMenuTreeNode.menuName}"></cite>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->

            <!--<li id="statisticsService">-->
                <!--<a href="#"><i class="fa fa-area-chart"></i>-->
                    <!--<span class="nav-label" id="systemMenu">数据统计</span>-->
                <!--<ul id="ul_statisticsService" class="nav nav-second-level collapse" th:each="listMenuTreeNode : ${listMenu}" style="height: 30px">-->
                    <!--<li ><a th:href="${listMenuTreeNode.menuHref}"  th:text=" ${listMenuTreeNode.menuName}" th:id="${listMenuTreeNode.menuId}"> </a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->



            <li class="treeview" id="statisticsService">
                <a href="javascript:;">
                    <i class="fa fa-area-chart"></i>
                    <span id="systemMenu" th:text="菜单"></span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                                </span>
                </a>
                <ul class="nav nav-second-level collapse"  id="ul_statisticsService">
                    <!--<li  th:each="listMenuTreeNode : ${listSystemMenu}">
                        <a th:href="${listMenuTreeNode.menuHref}"  th:text=" ${listMenuTreeNode.menuName}" th:id="${listMenuTreeNode.menuId}"> </a>
                    </li>-->
                    <li>
                        <a th:href="@{../../lineInfo/lines}"  th:text=" 线路列表" th:id="lines"> </a>
                        <a th:href="@{../../version/getData}"  th:text=" 版本管理" th:id="systemVersion"> </a>
                        <a th:href="@{../../notice/getNoticeList}"  th:text=" 公告管理" th:id="noticeManager"> </a>
                        <a th:href="@{../../code/getCodeList}"  th:text=" 兑换码管理" th:id="codeManager"> </a>
                        <a th:href="@{../../shop/getShopList}"  th:text=" 商品管理" th:id="shopManager"> </a>
                        <a th:href="@{../../order/getOrderList}"  th:text=" 订单管理" th:id="orderManager"> </a>
                        <a th:href="@{../../user/getUsers}"  th:text=" 用户管理" th:id="userManager"> </a>
                        <a th:href="@{../../line/reimportLine}"  th:text=" 线路导入" th:id="lineManager"> </a>
                        <a th:href="@{../../promoCode/promoCode}"  th:text=" 优惠码管理" th:id="promoCodeManager"> </a>
                    </li>


                </ul>
            </li>

            <!--<li class="treeview" th:each="list: ${listMenuGM}" th:id="${list.menuId}">-->
                <!--<a href="javascript:;" th:if="${list.pid==0}">-->
                    <!--<i class="fa fa-pie-chart"></i>-->
                    <!--<span th:text="${list.menuName}"  th:id="${list.menuId}"></span>-->
                    <!--<span class="pull-right-container">-->
                            <!--<i class="fa fa-angle-left pull-right"></i>-->
                                <!--</span>-->
                <!--</a>-->
                <!--<ul class="nav nav-second-level collapse" th:id="ul_+${list.menuId}">-->
                    <!--<li th:each="listMenuTreeNode : ${list.list}" th:if="${listMenuTreeNode.pid!=0}" >-->
                        <!--<a th:href="${listMenuTreeNode.menuHref}"  th:text=" ${listMenuTreeNode.menuName}" th:id="${listMenuTreeNode.menuId}">-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->



            <!--<li th:each="list: ${listMenu}">-->
            <!--<a href="javascript:;" th:if="${list.pid==0}">-->
            <!--<i class="iconfont">&#xe6b4;</i>-->
            <!--<cite th:text="${list.menuName}"></cite>-->
            <!--<i class="iconfont nav_right">&#xe697;</i>-->
            <!--</a>-->
            <!--<ul class="sub-menu" th:each="listMenuTreeNode : ${list.list}">-->
            <!--<li th:if="${listMenuTreeNode.pid!=0}">-->
            <!--<a th:href="${listMenuTreeNode.menuHref}"  >-->
            <!--<i class="iconfont">&#xe6a7;</i>-->
            <!--<cite th:text="${listMenuTreeNode.menuName}"></cite>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->

            <!--<li id="statisticsService">-->
            <!--<a href="#"><i class="fa fa-area-chart" aria-hidden="true"></i> <span class="nav-label">数据统计</span><span-->
            <!--class="fa arrow"></span></a>-->
            <!--<ul id="ul_statisticsService" class="nav nav-second-level collapse">-->
            <!--<li id="dailyDataSnap"><a th:href="@{../dataExport/dailyDataShow}">每日数据快照</a></li>-->
            <!--<li id="channelDailyDataSnap"><a th:href="@{../dataExport/channelDailyDataShow}">渠道每日数据快照</a></li>-->
            <!--<li id="dailyFishGameData"><a th:href="@{../dataExport/dailyFishGameData}">回报比验算</a></li>-->
            <!--<li id="dailyItem"><a th:href="@{../graphicsShow/pageShowItem}">货币道具</a></li>-->
            <!--<li id="paySnap"><a th:href="@{../graphicsShow/paySnapShow}">每日充值情况</a></li>-->
            <!--<li id="fufei"><a th:href="@{../graphicsShow/fufei}">付费统计</a></li>-->
            <!--<li id="liucun"><a th:href="@{../graphicsShow/liucun}">留存统计</a></li>-->
            <!--<li id="shebei"><a th:href="@{../dataExport/shebei}">新设备分布统计</a></li>-->
            <!--<li id="dailyCostSnap"><a th:href="@{../graphicsShow/dailyPlayerShow}">玩家行为</a></li>-->
            <!--<li id="playerTime"><a th:href="@{../graphicsShow/playerTimeShow}">在线时长</a></li>-->
            <!--<li id="dailyBless"><a th:href="@{../graphicsShow/dailyBlessShow}">每日抽奖情况</a></li>-->
            <!--<li id="LTVShow"><a th:href="@{../graphicsShow/LTVShow}">LTV</a></li>-->
            <!--<li id="LTVRecordShow"><a th:href="@{../graphicsShow/LTVRecordShow}">LTV记录展示</a></li>-->
            <!--<li id="dailyGameCardDropShow"><a th:href="@{../graphicsShow/dailyGameCardDropShow}">卡牌掉落情况</a></li>-->
            <!--<li id="dailyGameCardUseShow"><a th:href="@{../graphicsShow/dailyGameCardUseShow}">卡牌使用情况</a></li>-->
            <!--<li id="clientLogPay"><a th:href="@{../clientLogShow/clientLogPay}">客户端支付情况</a></li>-->
            <!--<li id="dataExport"><a th:href="@{../dataExport/pageShow}">玩家数据导出（实时）</a></li>-->
            <!--<li id="clientLogShow"><a th:href="@{../dataExport/pageShow}">客户端打点数据</a></li>-->
            <!--<li id="test"><a th:href="@{../dataExport/test}">测试（不要点）</a></li>-->
            <!--&lt;!&ndash;<li id="dailyCurrency"><a th:href="@{../graphicsShow/pageShowCurrency}">货币</a></li>&ndash;&gt;-->
            <!--</ul>-->
            <!--&lt;!&ndash;<ul id="ul_clientlogService" class="nav nav-second-level collapse">&ndash;&gt;-->
            <!--&lt;!&ndash;<li id="clientLogShow"><a th:href="@{pageShow}">客户端打点数据</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul id="ul_dailyDataSnap" class="nav nav-second-level collapse">&ndash;&gt;-->
            <!--&lt;!&ndash;<li id="dailyDataSnap"><a th:href="@{dailyDataShow}">每日数据快照</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--</li>-->
        </ul>
    </div>
</nav>
</body>

</html>



