<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<title>支付宝支付</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">

	<script type="text/javascript" src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/qrcode2.min.js"></script>
</head>
<style type="text/css">
	#codeP{
		    width:256px;
		    height:256px;
		    display: block;
		    margin:10px auto;
		}

	.tip{
		word-break:normal;
		width:auto; 
		display:block; 
		color: #dddddd;
		font-size: 24px;
		word-wrap : break-word ;
		overflow: hidden ;
		text-align:center;
		margin: 10px 0px;
	}
	.tipRed{
		word-break:normal;
		width:100%;
		display:block; 
		color: #ff0000;
		font-size: 20px;
		word-wrap : break-word ;
		overflow: hidden ;
		text-align:center;
		margin: 10px 0px;
	}
	.btn
	{
		text-align:center;
		padding:10px 40px; 
		background:#22ac38;
		width:250px;
		border-radius:5px;
		-moz-border-radius:5px; /* 老的 Firefox */
		color: #ffffff;
		display: block;
		 margin:0 auto;
	}
	.desc{
		text-align:right;
		display: block;
		margin:10px 10px;
		width: 85%;
		font-size:1.1em;

	}

	.desc1{
		text-align:center;
		display: block;
		margin:30px 0 auto;
		/*margin: 10px 0;*/
		width: 100%;
		font-size:1.3em;	
	}

	.rm
	{
		color: #ff0000;
		/*padding-left: 100px;*/
	}

	.title
	{
		padding-right: 50px;
	}

	.line {
		width:80%;
		margin:0 auto;
		border: 0;
		height: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}


</style>
<body>
	<div class="desc" style="padding-top: 60px">
		<span class="title" th:text="${data1}"/>
		<span class="rm" th:text="${price1}"/>
	</div>
	<div class="line"></div>
	<div class="desc">
		<span class="title" th:text="${data2}"/>
		<span class="rm" th:text="${price2}"/>
	</div>
	<div class="line"></div>
	<div class="desc1">
		<span>实际付款：</span>
		<span class="rmt" th:text="${total}"/>
	</div>
	<div id="codeP">
		<canvas id="qrcode"></canvas>
	</div>
	<div class="btn" onclick="natoBtn()">
		<span>一键启动支付宝支付</span>
	</div>
	<span class="tip" id="tipTxt" >
			请使用支付宝扫码支付
	</span>
	<span class="tip">
			支付遇到问题请联系： super.vps.mars@gmail.com
	</span>
	<a id="link" href=""></a>
	<!-- <button class="red">支付遇到问题</button> -->
	<input th:id="msg" hidden th:value="${msg}"></input>
	<script type="text/javascript">
		var httpURL;
		window.onload = function () {
			httpURL = $("#msg").val();
			if (!!httpURL) {
				let canvas = document.getElementById('qrcode');
				QRCode.toCanvas(canvas, httpURL, {width: 256, height: 256, margin: '2', errorCorrectionLevel: 'L'}, function (error) {
					if (error) console.error(error)
					console.log('success!');
				})
				//var qrcode = new QRCode(document.getElementById("qrcode"),httpURL);  // 设置要生成二维码的链接
			} else {
				$("#tipTxt").html('支付码显示异常,请重新下单或者联系开发者！');
				$("#tipTxt").addClass("tipRed");
				$("#tipTxt").removeClass("tip");
			}
        };
		/*var canvas = document.getElementById('qrcode');
		QRCode.toCanvas(canvas, $("#msg").val(), {width: 290, height: 290, margin: '2', errorCorrectionLevel: 'L'}, function (error) {
			if (error) console.error(error)
			console.log('success!');
		})*/
        function natoBtn()
        {
        	var a = document.getElementById('link');
			a.href = $("#msg").val();
			a.click()
        }
		
	</script>
</body>
</html>