<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>INVITE_QUEST</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>


</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <!--<div class="col-lg-2">-->
            <!--</div>-->
            <!--<li>-->
                <!--<a th:href="@{index}"><i class="fa fa-diamond"></i> <span class="nav-label">首页</span></a>-->
            <!--</li>-->
            <div class="col-lg-10">
                <ol class="breadcrumb">
                    <li>
                        <a href="#"><h4>进入游戏老玩家日志记录2019-11-14（含）前数据不对，2019-11-15（含）后数据正确</h4></a>
                    </li>
                </ol>
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="ibox-content" style="display: block;">
                    <form id="listForm" name="listForm">
                        <div class="row">
                            <div class="col-sm-2 m-b-xs">
                                <button id="submitButtonAll" class="btn btn-primary btn-block" type="button"
                                        onclick="selectRecent(300)"><i
                                        class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>所有</strong>
                                </button>
                            </div>
                            <div class="col-sm-2 m-b-xs">
                                <button id="submitButton" class="btn btn-primary btn-block" type="button"
                                        onclick="selectRecent(30)"><i
                                        class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>最近30天</strong>
                                </button>
                            </div>
                            <div class="col-sm-2 m-b-xs">
                                <button id="submitButton7" class="btn btn-primary btn-block" type="button"
                                        onclick="selectRecent(7)"><i
                                        class="fa"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>最近7天</strong>
                                </button>
                            </div>
                        </div>
                        <div class="rowGroup">
                            <div class="col-sm-2 ">
                                <div class="input-group">
                                    <input type="hidden" class="form-control form_datetime" id="days"
                                           name="days" readonly placeholder="参数"
                                           th:value="${clientLogShow.days}"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>记录列表</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class=" table table-hover table-striped table-bordered" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th width="8%">日期</th>
                                        <th width="6%">通过邀请进入到游戏的新玩家</th>
                                        <th width="6%">每日达成任务需求的新玩家</th>
                                        <th width="6%">通过邀请进入游戏的回流玩家（5日未登录）</th>
                                        <th width="6%">每日达成任务需求的回流玩家</th>
                                        <th width="5%">每日发送邀请的人数</th>
                                        <th width="5%">每日发送邀请的次数</th>
                                        <th width="6%">在渔场中打开邀请有礼的人数</th>
                                        <th width="6%">在渔场中打开邀请有礼的次数</th>
                                        <th width="6%">在大厅中打开邀请有礼的人数</th>
                                        <th width="6%">在大厅中打开邀请有礼的次数</th>
                                        <th width="6%">邀请来的回流玩家3日ltv</th>
                                        <th width="6%">邀请来的新玩家3日ltv</th>
                                        <th width="6%">邀请来的回流玩家7日ltv</th>
                                        <th width="6%">邀请来的新玩家7日ltv</th>
                                        <th width="5%">邀请来的回流玩家15日ltv</th>
                                        <th width="5%">邀请来的新玩家15日ltv</th>
                                        <th width="5%">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="data: ${listData}">
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${#dates.format(data.dailyVersion, 'yyyy-MM-dd')}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${#dates.format(data.dailyVersion, 'yyyy-MM-dd')}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getIntoGameNew()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getIntoGameNew()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getFinishQuestNew()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getFinishQuestNew()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getIntoGameOld()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getIntoGameOld()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getFinishQuestOld()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getFinishQuestOld()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getInvitePeople()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getInvitePeople()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getInviteNum()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getInviteNum()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getClickRoomPeople()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getClickRoomPeople()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getClickRoom()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getClickRoom()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getClickLobbyPeople()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getClickLobbyPeople()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getClickLobby()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getClickLobby()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getLtvOld3()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getLtvOld3()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getLtvNew3()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getLtvNew3()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getLtvOld7()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getLtvOld7()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getLtvNew7()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getLtvNew7()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getLtvOld15()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getLtvOld15()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 1" th:bgcolor="'#FFA500'" th:text="${data.getLtvNew15()}">Onions</td>
                                        <td th:if="${data.getSign()} eq 0" th:text="${data.getLtvNew15()}">Onions</td>

                                        <td>
                                            <a href="#" th:onclick="'javascript:checkMenu('+${data.dailyVersion/100000*100000}+');'"
                                               title="查看" th:if="${data.getSign()} eq 1"><i class="fa fa-search text-navy"></i></a>
                                            <!--<a th:href="@{'toEditDailyDataShowNew?dailyVersion='+${record.dailyVersion}}"
                                               title="修改"><i class="fa fa-edit text-navy"></i></a>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<script th:inline="javascript">

    function selectRecent(param) {
        $("#days").attr("value",param);
        document.getElementById('listForm').action = "inviteQuest";
        $("#listForm").submit();
    }

    setTimeout(function refresh() {
        document.getElementById("systemMenu").click();
        $("#statisticsService").attr('class', 'active');
        $("#invite_quest").attr('class', 'nav nav-second-level collapse in');
    }, "100");
    /*]]>*/
    function checkMenu(id) {
        $.ajax({
            type: "POST",
            url: "/admin/remarkData/remarkDataInfo?dailyVersion=" + id,
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                var obj = JSON.parse(msg);
                alert(obj.remark);
            },
            error: function () {
                alert("系统异常！");
            }
        });
    }
</script>

</body>

</html>
