<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:text="玩家信息"></title>

    <link th:href="@{/css/toastr.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <ol class="breadcrumb">
                    <li class="active">
                        <strong th:text="玩家信息"></strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content" style="display: block;">
                            <form action="queryPlayer_0_0_0" id="listForm" name="listForm">
                                <div class="row">
                                    <div class="col-sm-2 m-b-xs">
                                        <select name="channel" id="channel" class="form-control">
                                            <option value="-999" th:selected="${dataShow.channel}">--请选择渠道--</option>
                                            <option th:each="nc : ${channelList}" th:value="${nc.getParam1()}"
                                                    th:text="${nc.getParam2()}"
                                                    th:selected="${nc.getParam1().equalsIgnoreCase(dataShow.channel)}">渠道
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-sm-2 m-b-xs">
                                        <input id="role_id" name="role_id"  th:value="${dataShow.role_id}" th:placeholder="角色Id" class="form-control" type="text"/>
                                    </div>

                                    <div class="col-sm-2 m-b-xs">
                                        <input id="name" name="name"  th:value="${dataShow.name}" th:placeholder="昵称" class="form-control" type="text"/>
                                    </div>

                                    <div class="rowGroup">
                                        <div class="col-sm-2 ">
                                            <div class="input-group">
                                                <input type="text" class="form-control form_datetime" id="beginTime"
                                                       name="beginTime" readonly th:placeholder="开始时间"
                                                       th:value="${dataShow.beginTime}"/>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="rowGroup">
                                        <div class="col-sm-2 ">
                                            <div class="input-group">
                                                <input type="text" class="form-control form_datetime" id="endTime"
                                                       name="endTime" readonly th:placeholder="结束时间"
                                                       th:value="${dataShow.endTime}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 m-b-xs">
                                        <button class="btn btn-primary btn-block" type="submit"><i
                                                class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong th:text="搜索"></strong>
                                        </button>
                                    </div>
                                    <div class="col-sm-2 m-b-xs">
                                        <a th:href="@{'downloadPlayerInfo'}" class="btn btn-primary btn-block" >&nbsp;&nbsp;&nbsp;&nbsp;<strong th:text="导出"></strong></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 th:text="纪录列表"></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class=" table table-hover" data-page-size="5">
                                    <thead>
                                    <tr>
                                        <th width="5%" >角色Id</th>
                                        <th width="15%" >昵称</th>
                                        <th width="15%" >创建时间</th>
                                        <th width="15%">金币数</th>
                                        <th width="10%">充值金额</th>
                                        <th width="10%">所属渠道</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="data : ${listData}">
                                        <td th:text="${data.getRoleId()}">Onions</td>
                                        <td th:text="${data.getName()}">Onions</td>
                                        <td th:text="${#dates.format(data.getCreateTime(), 'yyyy-MM-dd HH:mm:ss')}">Onions</td>
                                        <td th:text="${data.getGold()}">Onions</td>
                                        <td th:text="${data.getVipExp()}">Onions</td>
                                        <td th:text="${data.getChannelName()}">Onions</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <div th:include="common/pageInfo::pagin('listForm',${dataShow})"></div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>


<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/toastr.js}"></script>

<script th:inline="javascript">

    $(document).ready(function () {

        //设定日期选择格式
        $('.form_datetime').datetimepicker({
            // minView: "month", //选择日期后，不会再跳转去选择时分秒
            // language: 'zh-CN',
            format: 'yyyy-mm-dd hh:ii',
            todayBtn: 1,
            autoclose: 1,
            weekStart: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            endDate: new Date()
        }).on("click", function () {
            //设定日期选择开始日期需要小于结束日期
            $("#beginTime").datetimepicker("setEndDate", $("#endTime").val() == '' ? new Date() : $("#endTime").val());
            $("#endTime").datetimepicker("setStartDate", $("#beginTime").val());

        })
    });

    //更新
    function select_Change(){
        var form_submit = document.getElementById('listForm');
        form_submit.submit();
    }

    /*]]>*/
</script>


<script th:inline="javascript">

    $(document).ready(function () {
        document.getElementById("systemMenu").click();
        $("#statisticsService").attr('class','active');
        $("#playerInfoShow").attr('style', 'color:#F8F8FF;');
    });
    /*]]>*/
</script>

</body>

</html>
